<template name="configure">
  <h1>Configure</h1>

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		{{#each topLevelProjects}}
			{{> cfgProjectRow}}
		{{/each}}
	</div>
</template>

<template name="cfgProjectRow">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="ph_{{_id}}">
			<h4 class="panel-title">
				<div class="pull-right">
					<span class="label label-default">{{childProjectCount}}</span>
					<span class="label label-primary">{{childBuildTypeCount}}</span>
					<span class="label label-danger">0</span>
				</div>
				<a data-toggle="collapse" data-parent="#{{parentAccordianId}}" href="#co_{{_id}}" aria-expanded="true" aria-controls="collapseOne">
					{{name}}
				</a>
			</h4>
		</div>
		<div id="co_{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			<div class="panel-body">
				{{#if hasChildren}}
					<div class="panel-group" id="acc_{{_id}}" role="tablist" aria-multiselectable="true">
						{{#each myChildren}}
							{{> cfgProjectRow}}
						{{/each}}
					</div>
				{{/if}}
				{{#each myBuilds}}
					{{> cfgBuildTypeRow}}
				{{/each}}
			</div>
		</div>
	</div>
</template>

<template name="cfgBuildTypeRow">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<h4>{{name}}</h4>
		</div>
		<div class="col-xs-12 col-sm-3">
			<input type="text" class="form-control shortName" placeholder="Short text to display on the build monitor" value="{{shortName}}" />
		</div>
		<div class="col-xs-12 col-sm-1">
			<input type="checkbox" class="isOn" checked={{isDisplayed}} data-toggle="toggle" data-on="Enabled" data-off="Disabled" data-size="small" data-width="80">
		</div>
		<div class="col-xs-12 col-sm-4">

		</div>
	</div>
</template>
