<template name="configure">
  <h1>Configure</h1>

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		{{#each topLevelProjects}}
			{{> cfgProjectRow}}
		{{/each}}
	</div>
</template>

<template name="cfgProjectRow">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="ph_{{_id}}">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#{{parentAccordianId}}" href="#co_{{_id}}" aria-expanded="true" aria-controls="collapseOne">
					{{name}} <span class="badge badge-primary">{{childCount}}</span>
				</a>
			</h4>
		</div>
		<div id="co_{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			<div class="panel-body">
				{{#if hasChildren}}
					<div class="panel-group" id="acc_{{_id}}" role="tablist" aria-multiselectable="true">
						{{#each myChildren}}
							{{> cfgProjectRow}}
						{{/each}}
					</div>
					{{else}}
					<h3>No Children</h3>
				{{/if}}
			</div>
		</div>
	</div>
</template>
