<template name="home">
	<div class="row">
		{{#each buildItems}}
			{{> buildItem}}
		{{/each}}
	</div>
</template>

<template name="buildItem">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 buildItem">
		<div class="bi-wrapper  {{buildStateClass}} {{isBuildingClass}}">
			<div class="bi-title">{{myBigName}}</div>
			<div class="bi-sub-title">{{name}}</div>

			{{#if isBuilding}}
				<div class="bsCurrent">
					{{currentBuild.statusText}} ({{currentBuild.pctComplete}}%)
				</div>
			{{/if}}

		</div>
	</div>
</template>
