<template name="home">
	<div class="row">
		{{#each buildItems}}
			{{> buildItem}}
		{{/each}}
	</div>
	<div id="configLink">
		<a href="{{pathFor route='configure'}}"><i class="fa fa-cogs"></i></a>
	</div>
</template>

<template name="buildItem">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 buildItem">
		<div class="bi-wrapper  {{buildStateClass}} {{isBuildingClass}}">
			<div class="bi-title">{{myBigName}}</div>
			<div class="bi-sub-title">{{name}}</div>

			<h4>
				{{#each builds}}
					{{> buildHistory}}
				{{/each}}
				<div class="clearfix"></div>
			</h4>


			{{#if isBuilding}}
				<div class="bsCurrent">
					{{currentBuild.statusText}} ({{currentBuild.pctComplete}}%)
				</div>
			{{else}}
				<div class="bsLast">
					{{livestamp lastFinishDate}}
				</div>
				<div class="bsTotal">
					{{buildTime}}
				</div>
			{{/if}}

		</div>
	</div>
</template>

<template name="buildHistory">
	<div class="sucLabel"><i class="fa {{icon}}"></i></div>
</template>
