<template name="settings">
	<div class="page-header">
		<h1>Servers</h1>
	</div>
	<form>
		{{> settingInput}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<button type="submit" class="btn btn-success add"><i class="fa fa-plus"></i> Add</button>
				</div>
			</div>
		</div>
	</form>
	{{#each settings}}
		<div id="set_{{_id}}" class="row setting">
			<div class="col-xs-12">
				{{name}}
			</div>
		</div>
	{{/each}}
</template>

<template name="settingInput">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" placeholder="A name for this server">
			</div>
		</div>

		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="url">Teamcity Url</label>
				<input type="url" class="form-control" id="url" placeholder="Teamcity Url">
			</div>
		</div>
		<div class="col-xs-12 col-md-2">
			<div class="form-group">
				<label for="user">Username</label>
				<input type="text" class="form-control" id="user" placeholder="Username for this server">
			</div>
		</div>

		<div class="col-xs-12 col-md-2">
			<div class="form-group">
				<label for="pass">Passord</label>
				<input type="password" class="form-control" id="pass" placeholder="Password for this server">
			</div>
		</div>
	</div>
</template>
